<div class="row">
    <div class="card-group">

        <div class="card col-md-4" style="width: 18rem; padding: 5px" *ngFor="let producto of listaCatalogo">
            <img [src]="producto.miniatura" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{producto.descripcion}}</h5>
                <div class="row">
                    <div class="col-6">
                        <span>Disponibilidad</span>
                        <span>{{producto.cantidadDisponible}}</span>
                    </div>
                    <div class="col-6">
                        <span>Precio</span><br>
                        <span>{{producto.precio}}</span>
                    </div>
                </div>
                <a href="#" class="btn btn-primary">Pedir</a>
            </div>
        </div>

    </div>

</div>