<h1>Lista pedidos</h1><br>

<div class="row" style="margin-bottom: 40px">
    <div class="col-md-4">
        <label for="buscar">Buscar Pedido por ID</label>
        <input class="form-control" type="text">
    </div>
</div>


<table id="tablaPedidos" class="table table-striped table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Responsable</th>
            <th scope="col">Dirección</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let infoPedido of misPedidos | tableFilter: i; let i = index">
            <td>{{i}}</td>
            <td>{{infoPedido.nombreProducto}}</td>
            <td>{{infoPedido.cantidad}}</td>
            <td>{{infoPedido.nombre}}</td>
            <td>{{infoPedido.direccionEnvio}}</td>
        </tr>
    </tbody>
</table>